// [START _flex.scss]
@mixin grid(
  $flow: row,
  $cols: null,
  $rows: null,
  $gap: null,
  $temp: (
    rows: null,
    cols: null,
  )
) {
  grid-auto-flow: $flow;

  @if $gap not null {
    grid-gap: $gap;
  }

  @if map-get($temp, rows) not null {
    grid-template-rows: #{map-get($temp, rows)};
  }
  @if map-get($temp, cols) not null {
    grid-template-columns: #{map-get($temp, cols)};
  }

  @if $cols not null {
    grid-auto-columns: $cols;
  }
  @if $rows not null {
    grid-auto-rows: $rows;
  }
}

@mixin flex($dir: row, $wrap: wrap) {
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
}
@mixin align($ver: null, $hor: null, $content: null) {
  @if $hor == null and $ver == null {
    align-items: center;
    justify-content: center;
  }
  @if $hor not null {
    align-items: $hor; // hor
  }
  @if $ver not null {
    justify-content: $ver; // ver
  }
  @if $content not null {
    align-content: $content;
  }
}
@mixin aligns($align: center) {
  @include align($align, $align, $align);
}
@mixin center($type: flex-row) {
  @if $type ==
    flex or
    $type ==
    flex-row or
    $type ==
    fr or
    $type ==
    frow or
    $type ==
    f-row
  {
    @include flex;
  } @else if
    $type ==
    flex-column or
    $type ==
    fc or
    $type ==
    f-col or
    $type ==
    f-column or
    $type ==
    flex-col
  {
    @include flex(column);
  } @else if $type == grid-row or $type == g-row {
    @include grid(row);
  } @else if
    $type ==
    grid-column or
    $type ==
    g-col or
    $type ==
    grid-col or
    $type ==
    g-column
  {
    @include grid(column);
  }
  @include aligns;
}

// [END _flex.scss]
